*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/*Novo Design*/


.logo {
    margin-left: 100px;
    color :rgb(214, 0, 13);
    font-size: 50px;
   
}

b{
    color: #000;
}


.cabecalho nav ul {
    display: flex;  
   
    
}


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li{
    list-style: none;
    margin: 0 20px;
    
    padding: 10px;
    font-weight: bold;

}
a{
    text-decoration: none;
}

.container{

    height: 100vh;
    width: 100%;

}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    
    
}

.botaoLogin{

    padding: 5px 20px;
    width: 120px;
    background-color: #D6000D;
    color: #fff;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-top: 3px;
    
   
    
}


.container-parte1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    row-gap: 100px;
}

.container-parte1 img{

    height: 40%;
    width: 40%;
    margin-top: 50px;


}

.lista ul li{

    text-align: left;

}

.lista i{
    color: #D6000D;
}

.container-celular{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    align-content: flex-end;
    width: 100vw;
   
}

.container-celular div{
    margin-left: 120px;
}
.container-celular input{

    background-color: rgb(189, 184, 184);
    padding: 10px 20px; 
    color: #fff;
    border: none;
    border-radius: 7px;
    width: 160px;

}

.container-celular a{

    padding: 10px 20px;
    background-color: #D6000D;
    color: #fff;
    border-radius: 7px;
    width: 160px;


}
.container-3{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}


.container-opnioes{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(189, 184, 184);    
    border-radius: 7px;
    
}



.circulo{

    height: 50px;
    width: 50px;
    padding: 10px;
    background-color: #D6000D;
    margin: 10px;
    border-radius: 50%;
    flex-basis: 20%;

}

.texto{
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
.avaliacao{
    font-size: 9.2pt;
}
.nomePessoa{
    font-weight: bold;
    
}
.cargoPessoa{
    font-size: 7pt;
    font-weight: bold;


}


.container-parte2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 40%;
    height: 100%;
    row-gap: 100px;
  

}

.container-mensagem{
    
    margin-top: 100px;
    height: 140px;
  
    
   
}

.container-mensagem a{
    position: absolute;
    background-color: #D6000D;
    padding: 5px 30px;
    color: #fff;
    border-radius: 7px ;
    margin-top: 20px;
    
}

#mensagem-destacada{
    color: #D6000D;
    font-size: 40pt;
    font-weight: bold;
}

.container-parte2 img{
    align-self: flex-start;
    width: 60%;

}




.container-inferior{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
    align-self: end;
    width: 80%;
    margin: 50px auto 0 auto;
    
   
}

.item{
    border-radius: 7px;
    cursor: pointer;
}
.item:hover{
    background-color: #D6000D;
    transition: 1s;
    color: #fff;
   
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: #000;
    margin: 100px auto 0 auto;
    color: #fff;
    width: 80%;
    padding: 10px;
    
}

.footer-superior{
    margin: 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;  
    
}

.footer-superior p:first-child{
   font-size: 20pt;
}
.titulo-footer{
    font-weight: bold;
    
}

.footer-inferior{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    
}

.redes-sociais a i{
    color: #D6000D;
    text-decoration: none;
    margin-right: 20px;
  
    
}

@media(max-width : 1600px ){
    .container-opnioes{
        height: 100%;
        
    }
    .avaliacao{
        font-size: 8.2pt;
    }
    .nomePessoa{
        font-size: 9.2pt;
        font-weight: bold;
    }
    .cargoPessoa{
        font-size: 6pt;
        font-weight: bold;
    
    
    }
    .texto{
        padding: 0;
    }
}
